version: "3.8"
services:
  yolo-stream:
    build: .
    image: gb10-yolo-stream:latest
    ports:
      - "5000:5000"
    network_mode: "host"
    restart: unless-stopped
    environment:
      - CUDA_VISIBLE_DEVICES=0
      # https://www.cotrip.org/list/cameras
      #- DETECT_STREAM_URL=https://publicstreamer2.cotrip.org/rtplive/270W00395CAM1MED/playlist.m3u8
      # https://www.nittec.org/cameras/
      - DETECT_STREAM_URL=https://s58.nysdot.skyvdn.com/rtplive/TA_137/playlist.m3u8
    shm_size: '1gb'
    volumes:
      - ./:/app
    depends_on:
      - mediamtx
    # GPU enablement
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

  mediamtx:
    image: bluenviron/mediamtx:latest
    restart: unless-stopped
    network_mode: "host"
    volumes:
      - ./mediamtx.yaml:/etc/mediamtx/mediamtx.yaml:ro