# Authentication & External integrations
#FIRECRAWL_API_KEY=your_firecrawl_key
TAVILY_API_KEY=
# TELEGRAM_BOT_TOKEN=your_telegram_bot_token

DISCORD_BOT_TOKEN=
DISCORD_ALLOWED_USERS=

# Dashboard & API Security
API_SERVER_ENABLED=true
API_SERVER_HOST=0.0.0.0
API_SERVER_KEY=whateveryouwant

CAMOFOX_URL=http://camofox:9377

# MCP Servers
JELLYFIN_URL=http://192.168.0.100:8096
JELLYFIN_API_KEY=
JELLYFIN_USERNAME=trevor

NAS_IP=192.168.0.100 # Server where Sonarr/Radarr are hosted
RADARR_PORT=7878
RADARR_API_KEY=
RADARR_DEFAULT_QUALITY_PROFILE_ID=4
RADARR_ROOT_FOLDER_PATH=/movies

SONARR_PORT=8989
SONARR_API_KEY=
SONARR_DEFAULT_QUALITY_PROFILE_ID=4
SONARR_ROOT_FOLDER_PATH=/tv

MASSIVE_API_KEY=
EDGAR_IDENTITY="User Name (email@example.com)"
FRED_API_KEY=